.form-control {
    border-radius: 8px;
    margin-bottom: 10px;
    height: 36px;
}

.btn {
    border-radius: 8px;
}

/* Remove default show password icon  */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none !important;
}

input[type="password"]::-webkit-textfield-decoration-container,
input[type="password"]::-webkit-credentials-auto-fill-button {
    display: none !important;
    visibility: hidden;
    pointer-events: none;
}

.span {
    color: red;
}

/* Remove default show password icon */
.form-control.is-valid,
.was-validated .form-control:valid {
    background-image: none !important;
    padding-right: .75rem !important;
    /* optional: remove extra space */
}

.toggle-password-btn {
    top: 20px;
    right: 25px;
    transform: translateY(-50%);
    z-index: 10;
}

.toggle-password-btn:focus {
    outline: 1px solid #744107ff;
}

.container-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
}

#password-reset-form {
    background: hwb(25 50% 22% / 0.501);
}







/* 
body {
        background-image: url("../image/image2.png");
        background-color: rgba(0, 0, 0, 0.25);
        background-blend-mode: darken;
        background-size: cover;
        background-position: center;
        margin: 0;
        padding: 0;
        color: #ecebea;
    }

    header,
    footer {
        background: #1a1412b5;
        color: #ecebea;
        padding: 10px 20px;
    }

    footer {
        text-align: center;
        font-size: 14px;
    }

    .page-wrapper {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .container-wrapper {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .card {
        width: 100%;
        max-width: 500px;
        border-radius: 14px;
        background-color: rgba(78, 52, 46, 0.9);
        padding: 20px;
    }

    h3 {
        text-align: center;
        margin-bottom: 15px;
    }

    .form-control {
        border-radius: 8px;
        margin-bottom: 10px;
        height: 36px;
    }

    .btn {
        border-radius: 8px;
    }

    /* Remove default show password icon  *
    input[type="password"]::-ms-reveal,
    input[type="password"]::-ms-clear {
        display: none !important;
    }

    input[type="password"]::-webkit-textfield-decoration-container,
    input[type="password"]::-webkit-credentials-auto-fill-button {
        display: none !important;
        visibility: hidden;
        pointer-events: none;
    }

    .span {
        color: red;
    }

    /* Remove default show password icon *
    .form-control.is-valid,
    .was-validated .form-control:valid {
        background-image: none !important;
        padding-right: .75rem !important;
        /* optional: remove extra space *
    }

    .toggle-password-btn {
        top: 20px;
        right: 25px;
        transform: translateY(-50%);
    }

    .toggle-password-btn:focus {
        outline: 1px solid #744107ff;
    } */